*{
    margin: 0px;
    max-width: 100%;

}
nav{
    display: flex;
    padding: 20px;
    padding-left: 100px;
    background-color: rgb(255, 255, 255);
    gap:200px;
}
nav div {
    display: flex;
    gap: 60px;
}
#banner{
    filter: brightness(40%)
}
main h3{
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 800;
    top: 190px;
    left:100px;
}
main p{
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 400;
    top: 300px;
    left:100px;

}
.services{
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.service{
    display: flex;
    gap: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-heading{
    font-size: x-large;
}
.service-description{
    padding-left:100px
}
footer{
    background-color: #06424c;
}